:host {
    top: 15%;
    border-radius: 3px;
    min-width: 300px;
}
.paperForCommon {
    top: inherit;
    border-radius: inherit;
    min-width: inherit;
    width: inherit;
}
.confirm-wrapper {
    border-bottom: 1px solid rgba(27, 28, 33, 0.1);
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-radius: 3px;
    margin-top: 0px;
    background-color: #f4f4f4;
    padding-top: 13px;
}

.header-custom {
    /*width: 40%;*/
    /*display: inline-block;*/
    text-transform: none;
    font-size: 12pt;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
}

.close-img {
    height: 15px;
}

.body {
    margin-top: 13px;
}

.confirm-message {
    font-size: 12pt;
    font-weight: normal;
}

.modal-footer {
    text-align: center;
    border-top: 1px solid rgba(27, 28, 33, 0.1);
    min-height: 32px;
    padding: 8px 24px;
    margin-bottom: 0px;
}

.cancel-button {
    background: #f4f4f4;
    text-align: center;
    border-radius: 3px;
    min-width: 75px;
}

.cancel-label {
    color: black;
    padding: 5px 10px;
    font-size: 12pt;
}

.ok-button {
    background: #3278ef;
    text-align: center;
    border-radius: 3px;
    min-width: 75px;
}

.ok-label {
    color: white;
    padding: 5px 10px;
    font-size: 12pt;
}
